@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*----home css----*/
.main-header{
  width: 100%;
}

header{
  height: 10%;
  background-color: #511281;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Dancing Script', cursive;
  line-height: 60px;
  padding-left: 30px;
}

.form-container{
  display: flex;
  justify-content: center;
  padding:10px 100px;
  margin-top: 12px;
}

input{
  height: 40px;
  width: 300px;
  border: 2px solid #511281;
  background-color: white;
  border-radius: 5px;
  color: black;
  margin-right: 8px;
  font-size: 16px;
  padding: 0px 8px;
}

#btn-search{
  display: inline-block;
  height: 40px;
  width: 100px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: #511281;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 20px;
} 

#btn-search:hover{
  display: inline-block;
  height: 40px;
  width: 100px;
  border: 2px solid #511281;
  border-radius: 4px;
  background-color:white;
  color: #511281;
  font-family: 'Titillium Web', sans-serif;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 20px;
} 

.recipe-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  margin: 20px 0;
}

/*------ recipe style ------*/
.recipe-card{
  max-width: 300px;
  overflow: hidden;
  padding: 15px;
  box-shadow: 0 0 15px #ddd;
  margin: 10px 0;
  position: relative;
}

.recipe-card img{
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}

.recipe-card h2{
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: 'Titillium Web', sans-serif;
  color: black;
  text-align: center;
  margin-top: 4px;
}

.div-btn{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

#ingrd-btn, #recipe-btn{
  display: inline-block;
  height: 40px;
  width: 100px;
  border: 2px solid #511281;
  border-radius: 4px;
  background-color: white;
  color: #511281;
  font-family: 'Titillium Web', sans-serif;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

#ingrd-btn:hover, #recipe-btn:hover{
  display: inline-block;
  height: 40px;
  width: 100px;
  border: 2px solid #511281;
  border-radius: 4px;
  background-color: #511281;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

.ingredient-details{
  margin: 8px 0px 0px 12px;
  width: 100%;
}

/*----Recipe Detail----*/
th{
  font-family: 'Titillium Web', sans-serif;
  background-color: #511281;
  color: white;
  font-size: large;
}

.ingredient-list{
  font-family: 'Titillium Web', sans-serif;
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: large;
}

.ingredient-text {
  color:black;
  text-align: left;
}

.ingredient-weight {
  color: #511281;
  text-align: center;
}